<br>
<h1>Jorginlife</h1>
<form class="form" action="/eschool/student" method="POST">
    <div class="form-control">
        <label for="title">Nome:</label>
        <input type="text" name="nome" placeholder="Insira seu nome">
        <br>
        <label for="pageqty">Insira o CPF: </label>
        <input type="text" name="cpf" placeholder="Insira o cpf">
        <br>
        <label class="form-control">Insira o RG: </label>
        <input type="text" name="rg" placeholder="Insira aqui seu RG">
        <br>
        <label class="form-control">Media 01:</label>
        <input type="number" name="num1" placeholder="Insira a media 1 aqui">
        <br>
        <label class="form-control">Media 02:</label>
        <input type="number" name="num2" placeholder="Insira a media 2 aqui">
        <br>
        <label class="form-control">Media 03:</label>
        <input type="number" name="num3" placeholder="Insira a media 3 aqui">
        <br>
    </div>
    </div>
    <input type="submit" value="Cadastrar">
</form>